:root{
  --contexify-menu-minWidth: 220px;
  --contexify-zIndex: 666;

  --contexify-menu-bgColor: #fff;
  --contexify-separator-color: rgba(0, 0, 0, 0.2);
  --contexify-item-color: #333;
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: #3498db; 
}


@mixin focus-swag {
  color: var(--contexify-activeItem-color);
  background-color: var(--contexify-activeItem-bgColor);
}

.react-contexify {
  position: fixed;
  opacity: 0;
  user-select: none;
  background-color: var(--contexify-menu-bgColor);
  box-sizing: border-box;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
  border-radius: 6px;
  padding: 6px;
  min-width: var(--contexify-menu-minWidth);
  z-index: var(--contexify-zIndex);

  &__submenu--is-open,
  &__submenu--is-open > &__item__content {
    @include focus-swag;
  }

  &__submenu--is-open > &__submenu {
    pointer-events: initial;
    opacity: 1;
  }

  & &__submenu {
    position: absolute;
    /* negate padding */
    top: -6px;
    pointer-events: none;
    transition: opacity .265s;
  }

  &__submenu-arrow {
    margin-left: auto;
    display: flex;
  }

  &__separator {
    height: 1px;
    cursor: default;
    margin: 5px;
    background-color: var(--contexify-separator-color);
  }

  &__will-leave--disabled {
    pointer-events: none;
  }

  &__item {
    cursor: pointer;
    position: relative;

    &:focus{
      outline: 0;
    }

    &:not(&--disabled):hover > &__content,
    &:not(&--disabled):focus > &__content {
      @include focus-swag;
      border-radius: 4px;
    }

    &:not(&--disabled):hover > .react-contexify__submenu {
      pointer-events: initial;
      opacity: 1;
    }

    &--disabled {
      cursor: default;
      opacity: .5;
    }
    &__content {
      padding: 6px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      color: var(--contexify-item-color);
      position: relative;
    }
  }
}

@keyframes react-contexify__feedback {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.react-contexify__item--feedback{
  animation: react-contexify__feedback 0.26s both;
}