.contexify__theme--dark {
  --contexify-menu-bgColor: rgba(40, 40, 40, 0.98);
  --contexify-separator-color: #eee;
  --contexify-item-color: #fff;
}

.contexify__theme--light {
  --contexify-separator-color: #eee;
  --contexify-item-color: #666;
  --contexify-activeItem-color: #3498db;
  --contexify-activeItem-bgColor: #e0eefd; 
}
