$delay: 0.3s;

@keyframes contexify__fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes contexify__fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.contexify__will-enter--fade {
  animation: contexify__fadeIn $delay ease;
}

.contexify__will-leave--fade {
  animation: contexify__fadeOut $delay ease;
}
