$delay: 0.3s;

@keyframes react-contexify__popIn {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

@keyframes react-contexify__popOut {
	0% { transform: scale(1); }
	100% { transform: scale(0); }
}

.react-contexify__will-enter--pop {
	animation: react-contexify__popIn $delay cubic-bezier(.51, .92, .24, 1.2);
}

.react-contexify__will-leave--pop {
	animation: react-contexify__popOut $delay cubic-bezier(.51, .92, .24, 1.2);
}
