.react-contexify {
  position: fixed;
  opacity: 0;
  user-select: none;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, .3) 0 10px 20px, rgb(238, 238, 238) 0 0 0 1px;
  padding: 5px 0;

  &__separator {
    float: left;
    width: 100%;
    height: 1px;
    cursor: default;
    margin: 4px 0;
    background-color: rgba(0, 0, 0, .2);
  }

  &__item {
    cursor: pointer;

    &:not(&--disabled):hover &__data {
      color: white;
      background-color: #4393e6;
    }

    &--disabled {
      cursor: default;
      opacity: .5;
    }
    &__data {
      min-width: 140px;
      padding: 6px 12px;
      display: inline-block;
      text-align: left;
      white-space: nowrap;
      color: #333;
    }
    &__icon {
      font-size: inherit;
      margin-right: 5px;
    }
  }
}
