$delay: 0.3s;

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  animation: fadeIn $delay ease;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0;}
}

.fadeOut {
  animation: fadeOut $delay ease;
}

.react-contexify-menu__enter